In [1]:
import pandas as pd
import numpy 
import datetime
## cambiar columnas a casos mas intuitivo
link = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-01-2021.csv"

df = pd.read_csv(link)
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513,2201,41727,8585,Afghanistan,134.896578,4.191343
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316,1181,33634,23501,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897,2762,67395,29740,Algeria,227.809861,2.764848
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117,84,7463,570,Andorra,10505.403482,1.034865
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568,405,11146,6017,Angola,53.452981,2.305328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4006,NaN,NaN,Unknown,Ukraine,2021-01-02 05:22:33,NaN,NaN,0,0,0,0,"Unknown, Ukraine",0.000000,0.000000
4007,NaN,NaN,NaN,Nauru,2021-01-02 05:22:33,-0.52280,166.931500,0,0,0,0,Nauru,0.000000,0.000000
4008,NaN,NaN,Niue,New Zealand,2021-01-02 05:22:33,-19.05440,-169.867200,0,0,0,0,"Niue, New Zealand",0.000000,0.000000
4009,NaN,NaN,NaN,Tuvalu,2021-01-02 05:22:33,-7.10950,177.649300,0,0,0,0,Tuvalu,0.000000,0.000000
4010,NaN,NaN,Pitcairn Islands,United Kingdom,2021-01-02 05:22:33,-24.37680,-128.324200,0,0,0,0,"Pitcairn Islands, United Kingdom",0.000000,0.000000

In [81]:
from datetime import datetime, timedelta


# Obtener la fecha de inicio del usuario
#fecha_inicio_str = input("Ingrese la fecha de inicio (DD-MM-YYYY): ")
#fecha_inicio = datetime.strptime(fecha_inicio_str, "%d-%m-%Y")

# Obtener la fecha de fin del usuario
#fecha_fin_str = input("Ingrese la fecha de fin (DD-MM-YYYY): ")
#fecha_fin = datetime.strptime(fecha_fin_str, "%d-%m-%Y")

# Definir las dos fechas de inicio y fin
fecha_inicio = datetime(2022, 2, 1)
fecha_fin = datetime(2023, 2, 1)


# Inicializar la fecha actual con la fecha de inicio
fecha_actual = fecha_inicio

i = 0
# Recorrer todas las fechas en el intervalo
while fecha_actual <= fecha_fin:
    i = i +1
    print(i,fecha_actual.strftime("%d-%m-%Y"))
    fecha_actual += timedelta(days=1)

1 01-02-2022
2 02-02-2022
3 03-02-2022
4 04-02-2022
5 05-02-2022
6 06-02-2022
7 07-02-2022
8 08-02-2022
9 09-02-2022
10 10-02-2022
11 11-02-2022
12 12-02-2022
13 13-02-2022
14 14-02-2022
15 15-02-2022
16 16-02-2022
17 17-02-2022
18 18-02-2022
19 19-02-2022
20 20-02-2022
21 21-02-2022
22 22-02-2022
23 23-02-2022
24 24-02-2022
25 25-02-2022
26 26-02-2022
27 27-02-2022
28 28-02-2022
29 01-03-2022
30 02-03-2022
31 03-03-2022
32 04-03-2022
33 05-03-2022
34 06-03-2022
35 07-03-2022
36 08-03-2022
37 09-03-2022
38 10-03-2022
39 11-03-2022
40 12-03-2022
41 13-03-2022
42 14-03-2022
43 15-03-2022
44 16-03-2022
45 17-03-2022
46 18-03-2022
47 19-03-2022
48 20-03-2022
49 21-03-2022
50 22-03-2022
51 23-03-2022
52 24-03-2022
53 25-03-2022
54 26-03-2022
55 27-03-2022
56 28-03-2022
57 29-03-2022
58 30-03-2022
59 31-03-2022
60 01-04-2022
61 02-04-2022
62 03-04-2022
63 04-04-2022
64 05-04-2022
65 06-04-2022
66 07-04-2022
67 08-04-2022
68 09-04-2022
69 10-04-2022
70 11-04-2022
71 12-04-2022
72 13-04-2022
73 14-04-2022
74 15-04-2022
75 16-04-2022
76 17-04-2022
77 18-04-2022
78 19-04-2022
79 20-04-2022
80 21-04-2022
81 22-04-2022
82 23-04-2022
83 24-04-2022
84 25-04-2022
85 26-04-2022
86 27-04-2022
87 28-04-2022
88 29-04-2022
89 30-04-2022
90 01-05-2022
91 02-05-2022
92 03-05-2022
93 04-05-2022
94 05-05-2022
95 06-05-2022
96 07-05-2022
97 08-05-2022
98 09-05-2022
99 10-05-2022
100 11-05-2022
101 12-05-2022
102 13-05-2022
103 14-05-2022
104 15-05-2022
105 16-05-2022
106 17-05-2022
107 18-05-2022
108 19-05-2022
109 20-05-2022
110 21-05-2022
111 22-05-2022
112 23-05-2022
113 24-05-2022
114 25-05-2022
115 26-05-2022
116 27-05-2022
117 28-05-2022
118 29-05-2022
119 30-05-2022
120 31-05-2022
121 01-06-2022
122 02-06-2022
123 03-06-2022
124 04-06-2022
125 05-06-2022
126 06-06-2022
127 07-06-2022
128 08-06-2022
129 09-06-2022
130 10-06-2022
131 11-06-2022
132 12-06-2022
133 13-06-2022
134 14-06-2022
135 15-06-2022
136 16-06-2022
137 17-06-2022
138 18-06-2022
139 19-06-2022
140 20-06-2022
141 21-06-2022
142 22-06-2022
143 23-06-2022
144 24-06-2022
145 25-06-2022
146 26-06-2022
147 27-06-2022
148 28-06-2022
149 29-06-2022
150 30-06-2022
151 01-07-2022
152 02-07-2022
153 03-07-2022
154 04-07-2022
155 05-07-2022
156 06-07-2022
157 07-07-2022
158 08-07-2022
159 09-07-2022
160 10-07-2022
161 11-07-2022
162 12-07-2022
163 13-07-2022
164 14-07-2022
165 15-07-2022
166 16-07-2022
167 17-07-2022
168 18-07-2022
169 19-07-2022
170 20-07-2022
171 21-07-2022
172 22-07-2022
173 23-07-2022
174 24-07-2022
175 25-07-2022
176 26-07-2022
177 27-07-2022
178 28-07-2022
179 29-07-2022
180 30-07-2022
181 31-07-2022
182 01-08-2022
183 02-08-2022
184 03-08-2022
185 04-08-2022
186 05-08-2022
187 06-08-2022
188 07-08-2022
189 08-08-2022
190 09-08-2022
191 10-08-2022
192 11-08-2022
193 12-08-2022
194 13-08-2022
195 14-08-2022
196 15-08-2022
197 16-08-2022
198 17-08-2022
199 18-08-2022
200 19-08-2022
201 20-08-2022
202 21-08-2022
203 22-08-2022
204 23-08-2022
205 24-08-2022
206 25-08-2022
207 26-08-2022
208 27-08-2022
209 28-08-2022
210 29-08-2022
211 30-08-2022
212 31-08-2022
213 01-09-2022
214 02-09-2022
215 03-09-2022
216 04-09-2022
217 05-09-2022
218 06-09-2022
219 07-09-2022
220 08-09-2022
221 09-09-2022
222 10-09-2022
223 11-09-2022
224 12-09-2022
225 13-09-2022
226 14-09-2022
227 15-09-2022
228 16-09-2022
229 17-09-2022
230 18-09-2022
231 19-09-2022
232 20-09-2022
233 21-09-2022
234 22-09-2022
235 23-09-2022
236 24-09-2022
237 25-09-2022
238 26-09-2022
239 27-09-2022
240 28-09-2022
241 29-09-2022
242 30-09-2022
243 01-10-2022
244 02-10-2022
245 03-10-2022
246 04-10-2022
247 05-10-2022
248 06-10-2022
249 07-10-2022
250 08-10-2022
251 09-10-2022
252 10-10-2022
253 11-10-2022
254 12-10-2022
255 13-10-2022
256 14-10-2022
257 15-10-2022
258 16-10-2022
259 17-10-2022
260 18-10-2022
261 19-10-2022
262 20-10-2022
263 21-10-2022
264 22-10-2022
265 23-10-2022
266 24-10-2022
267 25-10-2022
268 26-10-2022
269 27-10-2022
270 28-10-2022
271 29-10-2022
272 30-10-2022
273 31-10-2022
274 01-11-2022
275 02-11-2022
276 03-11-2022
277 04-11-2022
278 05-11-2022
279 06-11-2022
280 07-11-2022
281 08-11-2022
282 09-11-2022
283 10-11-2022
284 11-11-2022
285 12-11-2022
286 13-11-2022
287 14-11-2022
288 15-11-2022
289 16-11-2022
290 17-11-2022
291 18-11-2022
292 19-11-2022
293 20-11-2022
294 21-11-2022
295 22-11-2022
296 23-11-2022
297 24-11-2022
298 25-11-2022
299 26-11-2022
300 27-11-2022
301 28-11-2022
302 29-11-2022
303 30-11-2022
304 01-12-2022
305 02-12-2022
306 03-12-2022
307 04-12-2022
308 05-12-2022
309 06-12-2022
310 07-12-2022
311 08-12-2022
312 09-12-2022
313 10-12-2022
314 11-12-2022
315 12-12-2022
316 13-12-2022
317 14-12-2022
318 15-12-2022
319 16-12-2022
320 17-12-2022
321 18-12-2022
322 19-12-2022
323 20-12-2022
324 21-12-2022
325 22-12-2022
326 23-12-2022
327 24-12-2022
328 25-12-2022
329 26-12-2022
330 27-12-2022
331 28-12-2022
332 29-12-2022
333 30-12-2022
334 31-12-2022
335 01-01-2023
336 02-01-2023
337 03-01-2023
338 04-01-2023
339 05-01-2023
340 06-01-2023
341 07-01-2023
342 08-01-2023
343 09-01-2023
344 10-01-2023
345 11-01-2023
346 12-01-2023
347 13-01-2023
348 14-01-2023
349 15-01-2023
350 16-01-2023
351 17-01-2023
352 18-01-2023
353 19-01-2023
354 20-01-2023
355 21-01-2023
356 22-01-2023
357 23-01-2023
358 24-01-2023
359 25-01-2023
360 26-01-2023
361 27-01-2023
362 28-01-2023
363 29-01-2023
364 30-01-2023
365 31-01-2023
366 01-02-2023

In [36]:
from datetime import datetime, timedelta

# Definir las dos fechas de inicio y fin
fecha_inicio = datetime(2023, 1, 1)
fecha_fin = datetime(2023, 2, 1)

# Inicializar la fecha actual con la fecha de inicio
fecha_actual = fecha_inicio
i = 1
# Recorrer todas las fechas en el intervalo
while fecha_actual <= fecha_fin:
    i = i+1
    print(i,fecha_actual.date())
    fecha_actual += timedelta(days=1)

2 2023-01-01
3 2023-01-02
4 2023-01-03
5 2023-01-04
6 2023-01-05
7 2023-01-06
8 2023-01-07
9 2023-01-08
10 2023-01-09
11 2023-01-10
12 2023-01-11
13 2023-01-12
14 2023-01-13
15 2023-01-14
16 2023-01-15
17 2023-01-16
18 2023-01-17
19 2023-01-18
20 2023-01-19
21 2023-01-20
22 2023-01-21
23 2023-01-22
24 2023-01-23
25 2023-01-24
26 2023-01-25
27 2023-01-26
28 2023-01-27
29 2023-01-28
30 2023-01-29
31 2023-01-30
32 2023-01-31
33 2023-02-01

In [17]:


link = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/"+date+".csv"
df = pd.read_csv(link)
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513,2201,41727,8585,Afghanistan,134.896578,4.191343
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316,1181,33634,23501,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897,2762,67395,29740,Algeria,227.809861,2.764848
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117,84,7463,570,Andorra,10505.403482,1.034865
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568,405,11146,6017,Angola,53.452981,2.305328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4006,NaN,NaN,Unknown,Ukraine,2021-01-02 05:22:33,NaN,NaN,0,0,0,0,"Unknown, Ukraine",0.000000,0.000000
4007,NaN,NaN,NaN,Nauru,2021-01-02 05:22:33,-0.52280,166.931500,0,0,0,0,Nauru,0.000000,0.000000
4008,NaN,NaN,Niue,New Zealand,2021-01-02 05:22:33,-19.05440,-169.867200,0,0,0,0,"Niue, New Zealand",0.000000,0.000000
4009,NaN,NaN,NaN,Tuvalu,2021-01-02 05:22:33,-7.10950,177.649300,0,0,0,0,Tuvalu,0.000000,0.000000
4010,NaN,NaN,Pitcairn Islands,United Kingdom,2021-01-02 05:22:33,-24.37680,-128.324200,0,0,0,0,"Pitcairn Islands, United Kingdom",0.000000,0.000000